@font-face {
  font-family: Barlow;
  src: url('https://rawgit.com/jpt/barlow/f05312858040f09af077d13d4a119a7fddc5b744/fonts/woff/Barlow-Medium.woff') format('woff');
  font-weight: normal
}

@font-face {
  font-family: Barlow;
  src: url('https://rawgit.com/jpt/barlow/master/fonts/woff/Barlow-Bold.woff') format('woff');
  font-weight: bold
}
